%article.media-badge.person
  %a.avatar{href: person_path(person)}
    - if person.image.present?
      = image_tag person.image.thumb
    - else
      %i.icon-user
  %section.body
    %a{href: person_path(person)}
      %h4= person.name
    %small
      - if person.title.present?
        = person.title
      - else
        = raw truncate_html(person.description)
    - if person.appearances_count > 0
      %small{style: "display: block"}
        %em
          = link_to pluralize(person.appearances_count, "episode"), person_path(person, anchor: "appearances")
  %section.social
    = social_icons_for person
