= open_graph_and_meta_tags type: "person",
                           title: @person.name + ", " + @person.title,
                           description: @person.description

%h4.muted
  %a{href: people_path} People

%h1= @person.name
%h5= @person.title

%div.bio
  %figure.thumbnail.pull-left
    = image_tag @person.image.url
    = social_icons_for @person, skip: [:appearances], type: @person.facebook_page? ? "like" : "follow"
    %div.clearfix
  = raw @person.description

- unless @person.organization.blank?
  %div.organization.clearfix
    %h3 Organization
    %div.row-fluid
      %div.span6
        = render @person.organization

- if @person.appearances.any?
  %div.episodes.clearfix
    %h3 Episodes
    = render partial: "episodes/mini_collection", locals: { episodes: @person.episodes }
