= open_graph_and_meta_tags type: "person",
                           title: @person.name + ", " + @person.title,
                           description: @person.description

%div.row-fluid.page-header
  %div.span2.logo
    %a{href: root_path}
      = image_tag "logo.png"

  %div.span10.offset2.details
    = breadcrumbs :root, Person, @person
    %h1= @person.name
    - unless @person.title.blank?
      %div.muted= @person.title

%div.row-fluid
  %div.span8
    %section.social.clearfix
      = social_icons_for @person
    %article.person
      %p= raw @person.description

  - unless @person.image.blank?
    %div.span4.entity-image
      %figure.thumbnail
        = image_tag @person.image.url


- if @person.organization.present?
  %div.row-fluid
    %div.span8
      %h3 Organization
  %div.row-fluid
    %div.span4
      %section.organization.clearfix{style: "margin-top: 20px"}
        = render @person.organization

= divider 8

- if @person.appearances.any?
  %div.row-fluid
    %div.span8
      %h3#appearances Episodes
      = render @person.episodes
