= open_graph_and_meta_tags type: "person",
                           title: @person.name + ", " + @person.title,
                           description: @person.description

%div.row
  %header.span12
    = breadcrumbs :root, @person
    %h1= @person.name
    - unless @person.title.blank?
      %p.muted= @person.title
    %section.social.clearfix
      = social_icons_for @person

= divider

%div.row
  %div.span8
    %article.person
      %p= raw @person.description

    - if @person.organization.present?
      %h3 Organization
      %section.organization{style: "margin-top: 20px"}
        = render @person.organization

  - unless @person.image.blank?
    %div.span4
      %figure.thumbnail
        = image_tag @person.image.url

= divider

- if @person.appearances.any?
  %div.row
    %div.span8
      %h3 Episodes
      = render @person.episodes
