%h1 Topics

%div.affix-wrapper
  %div.navbar.top-navbar.apply-affix.hidden-phone
    %div.navbar-inner
      %ul.nav
        - @topics.each do |range, topics|
          %li
            - label = "#{range[0]}-#{range[-1]}"
            %a{href: "#" + range.join(""), disabled: topics.empty?}= label

%ul.unstyled
  - @topics.each do |range, topics|
    - unless topics.empty?
      %li{id: range.join(""), style: "padding-top: 60px"}
        %h3{style: "border-bottom: 1px solid #b0242f"} #{range[0]}-#{range[-1]}
        - topics.in_groups_of(3) do |group|
          %div.row-fluid
            - group.compact.each do |topic|
              %div.span4= render topic
