= open_graph_and_meta_tags title: @topic.name, description: @topic.description

%div.row
  %div.span8
    %article.topic
      %h1= @topic.name
      = raw @topic.description

    - if @topic.assignables.any?
      %section.appearances.clearfix
        %h3 Episodes and posts
        = render @topic.assignables

  %div.span4
    = image_tag @topic.image.url unless @topic.image.blank?
