= open_graph_and_meta_tags title: @topic.name,
                           description: @topic.description

%div.row-fluid.page-header
  %div.span2.logo
    %a{href: root_path}
      = image_tag "logo.png"

  %div.span10.offset2.details
    = breadcrumbs :root, Topic, @topic
    %h1= @topic.name
    %div.muted= pluralize @topic.episodes_count, "Episodes"

- if @topic.description.present? && @topic.image.present?
  %div.row-fluid
    %div.span8
      %article.topic
        = raw @topic.description

    - unless @topic.image.blank?
      %div.span4
        %figure.thumbnail
          = image_tag @topic.image.url

  = divider

%div.row-fluid
  %div.span8
    %section.appearances
      %h3 Episodes and posts
      - if @topic.assignables.any?
        = render @topic.assignables
      - else
        %p There are no episodes or posts for this topic.
