%div.row-fluid.breadcrumbs
  %div.span12
    = crumbs

%div.row-fluid.page-header
  %div.span2.logo
    %a{href: root_path}
      = image_tag "logo.png"

  %div.span10.offset2.details
    %h1= title
    = render 'episodes/groups_nav' if defined?(@category)

%div.row-fluid
  %div.span2
    %div#side-navbar.apply-affix
      %ul.nav
        - groups.each.with_index do |(name, _), idx|
          %li{class: idx == 0 ? "active" : ""}
            %a{href: "##{name.parameterize}"}= name

  %div.span10
    %ul.unstyled.grouped
      - groups.each do |name, items|
        %li{id: name.parameterize, data: { "offset-top" => "20" }}
          %h3= name
          %div.items.clearfix
            = render items
