%ul.social-icons.unstyled
  - if model.appearances_count > 0
    %li.appearances
      %a.btn.btn-mini.btn-appearances{href: polymorphic_path(model, anchor: "appearances")}
        %i.icon-music
        = pluralize(model.appearances_count, "episode")

  - if type == "follow" || type == "like"
    - if model.respond_to?(:facebook) && model.facebook.present?
      %li.facebook= send "facebook_#{type}", model.facebook
    - if model.respond_to?(:twitter) && model.twitter.present?
      %li.twitter= twitter_follow account: model.twitter, count: false
  - elsif type == "share"
    %li.facebook_like= facebook_like request.original_url
    %li.twitter= twitter_share
