%ul.social-icons.unstyled
  - if signed_in?
    - route = "edit_admin_" + model.class.model_name.singular + "_path"
    - if respond_to?(route) && path = self.send(route, model)
      %li.link
        %a.btn.btn-mini.btn-primary{href: path}
          %i.icon-edit
          Edit

  - if type == "follow" || type == "like"
    - if model.respond_to?(:facebook) && model.facebook.present?
      %li.facebook= send "facebook_#{type}", model.facebook
    - if model.respond_to?(:twitter) && model.twitter.present?
      %li.twitter= twitter_follow account: model.twitter, count: false
  - elsif type == "share"
    %li.facebook_like= facebook_like request.original_url
    %li.twitter= twitter_share

  - if model.respond_to?(:public_email) && model.public_email.present?
    %li.link
      %a.btn.btn-mini{href: "mailto:#{model.public_email}"}
        %i.icon-envelope
        Mail
  - if model.respond_to?(:website) && model.website.present?
    %li.link
      %a.btn.btn-mini{href: model.website, target: "_blank"}
        %i.icon-home
        Website

