%article.episode
  %header
    %h1
      = link_to episode.title, episode_path(episode)
    %p.muted
      %time(pubdate="pubdate")= episode.recorded_at.to_s(:date)

  %section.body
    = image_tag episode.image.url(:thumb), class: "pull-left"
    = raw episode.description

  %div.actions
    = link_to episode_path(episode.slug), class: "read" do
      read
      %i.icon-angle-right
    = link_to "#", class: "hear" do
      hear
      %i.icon-caret-right
