%article.media.episode{id: episode.slug}
  %section.media-body
    %h1
      %a{href: episode_path(episode)}= episode.title
    %p.muted
      = t(:tag)
      |
      %time(pubdate="pubdate")= episode.published_at.strftime("%m/%d/%Y")

    %section.body
      %a.pull-left{href: episode_path(episode.slug)}
        = image_tag episode.image.url(:thumb), class: "media-object", style: "width: 100px"
      = raw episode.description + link_to("more", episode_path(episode.slug), class: "action")

    %div{"data-mp3-uri" => episode.download_url}
    %a.jp-play{href: "#"}
      %i.icon-play

    %a.jp-pause
      %i.icon-pause
    %span
      %span.jp-current-time
      of
      %span.jp-duration
