%article.media.episode{id: episode.slug}
  %section.media-body
    %a{href: episode_path(episode)}
      %h1= episode.title
    %div.muted.attribution
      = t(:tag)
      |
      %time(pubdate="pubdate")= episode.published_at.strftime("%m/%d/%Y")
    - if episode.topics.any?
      %div.topics
        Topics:
        = comma_separated_list_of episode.topics

    %section.body
      %a.pull-left{href: episode_path(episode.slug)}
        = image_tag episode.image.url(:thumb), class: "media-object", style: "width: 100px"
      = raw episode.description + link_to("more", episode_path(episode.slug), class: "action")

    - if defined?(play) && play
      = render partial: 'episodes/play_controls', locals: { episode: episode }
