%a{href: episode_path(episode)}
  %h2= episode.headline

%div.post-content
  = raw episode.social_description
  %p.muted.clearfix
    Originally published on
    = episode.published_at.to_date.to_s(:long)

= play_controls style: "full", episode: episode, episode_url: canonical_fb_url(episode), player: :full, embed: true

%div.row-fluid{style: "margin-bottom: 20px"}
  %div.span3.offset3.vertical-gap-phone
    %a.btn.btn-facebook.btn-block{href: "http://facebook.com/sharer.php?u=#{canonical_fb_url(episode)}", target: "_blank", data: {url: canonical_fb_url(episode)}}
      Share on Facebook
  %div.span3
    %a.btn.btn-twitter.btn-block{href: "http://twitter.com/intent/tweet?" + twitter_share_attrs(text: episode.default_twitter_text, url: episode.canonical_short_link || episode_url(episode)).to_param, target: "_blank"}
      Share on Twitter
