%article.media.episode
  %a.pull-left{href: episode_path(episode.slug)}
    = image_tag episode.image.url(:thumb), class: "media-object"

  %section.media-body
    %h1
      %a{href: episode_path(episode)}= episode.title
    %p.muted
      = t(:tag)
      |
      %time(pubdate="pubdate")= episode.recorded_at.to_s(:date)

    %section.body
      = raw episode.description

  %div.actions
    %a.read{href: episode_path(episode.slug)}
      read
      %i.icon-angle-right
    %a.hear{href: "#"}
      hear
      %i.icon-caret-right
