%article.media.episode{id: episode.slug, data: { uri: episode_path(episode, format: :json), state: episode.state }}
  %section.media-body
    %a{href: episode_path(episode)}
      %h1= episode.title
    %div.muted.attribution
      = episode.headline.present? ? episode.headline : t(:tag)
      |
      %time(pubdate="pubdate")= episode.published_at.strftime("%m/%d/%Y")

    - if defined?(play) && play
      = play_controls style: "full", episode: episode

    %section.body
      - if episode.topics.any?
        %small.topics
          %strong Topics:
          = comma_separated_list_of episode.topics
      %a.pull-left{href: episode_path(episode.slug)}
        = image_tag episode.image.url(:thumb), class: "media-object", style: "width: 100px; margin-top: 8px"
      %div.description
        = raw episode.description

