%div.full-play-controls{id: "play-#{episode.slug}", class: episode.state}
  - if player == Episode::Players::VIDEO
    = youtube_player @episode.youtube_video_id, id: "youtube-episode-player"
  - else
    %div{data: player_data_for(episode)}
    %div.play-episode{style: "background-image: url(#{episode.image.url})"}
      - if episode.visible?
        %p.small.caption= sanitize episode.image_caption
        %a.jp-play(rel="nofollow")
          %i.icon-play
        %a.jp-pause(rel="nofollow")
          %i.icon-pause
      - else
        %div.cant-play
          %h1 This episode isn't available yet.
          %h2.muted
            Join our mailing list and we'll let you know when it's ready.

          %form.form-inline.subscribe{action: subscribe_path, method: :post, title: "Episode Unavailable - Subscribe", data: { remote: true, track: true }}
            %input(placeholder="you@example.com" type="email" name="subscriber[email]" required style="margin-right: 10px")
            %a.submit.btn.btn-inverse{href: "#", rel: "nofollow", data: { message: "Thanks for subscribing!" } }
              %span Subscribe Now
              = image_tag "fsj_icon.png", style: "margin-top: -5px;", class: "visible-desktop"

    %div.jp-progress
      %div.jp-seek-bar
        %div.jp-play-bar

    %div.status
      %div.jp-controls
        %a.jp-play(rel="nofollow")
          %i.icon-play
        %a.jp-pause(rel="nofollow")
          %i.icon-pause
      %div.jp-time-holder
        %span.jp-current-time
        \/
        %span.jp-duration
      %ul.other-commands.inline.pull-right
        %li
          %a.itunes{href: itunes_link, title: "Subscribe in iTunes", data: { track: true, toggle: 'tooltip' }}
            %i.icon-music
        %li
          %a.visible-desktop.download{href: audio_episode_url(episode), download: episode.audio_filename, rel: "nofollow", title: "Download full episode", data: { toggle: 'tooltip' }}
            %i.icon-download
        %li
          %a.visible-desktop.rss{href: podcast_link, title: "Subscribe via RSS", data: { track: true, toggle: 'tooltip' }}
            %i.icon-rss


  %div.clearfix
