%strong Group:
= link_to *breadcrumb_for(Episode)
\/
= link_to *breadcrumb_for(:by_date)
\/
= link_to *breadcrumb_for(:by_topic)
\/
= link_to *breadcrumb_for(:by_guest)
\/
= link_to *breadcrumb_for(:by_organization)
