%div.mini-episode{style: "background-image: url(#{image_path(episode.image)});"}
  %a{href: episode_path(episode)}
    %div.blurb
      = "Episode #{episode.title.match(/(#\d+)/)[0]}"
      &middot;
      = episode.created_at.to_date.to_s(:long)
    %div.title
      %h3= episode.headline
