!!!

%html
  %head
    %link(href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,700' rel='stylesheet' type='text/css')
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "//connect.facebook.net/en_UK/all.js"
    = javascript_include_tag "//platform.twitter.com/widgets.js"
    = csrf_meta_tags
    = favicon_link_tag
    = syndication_link_tag
    = google_analytics_tracker
    = chartbeat_head_tracker
    = optimizely_tracker
    = shareprogress_tracker
    = mixpanel_tracker

    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    %meta(name="bitly-verification" content="100f7700b68b")
    %meta{name: "user-id",         content: session[:session_id]}
    %meta{name: "facebook-app-id", content: facebook_app_id}
    %meta{name: "ref-code",        content: params[:ref]}
    = yield :head

  %body{id: controller.controller_name, class: controller.action_name, data: { spy: "scroll", target: "#side-navbar" }}
    = internet_defense_league

    %div#wrap
      %article.container.episode{id: @episode.slug, class: @episode.state, data: { uri: episode_path(@episode, format: :json), poll: 5.seconds, state: @episode.state }}
        = render partial: "episodes/modal"
        %div.row
          %div.offset1.span10
            %div.row-fluid.header
              %a.brand{href: root_path, title: "Logo", data: { track: true }}

            / - if @episode.topics.any?
            /   %h4.muted= comma_separated_list_of @episode.topics
            %h4.muted Episode #{@episode.title.match(/(#\d+)/)[0]}

            %h1= @episode.headline

            %div.row-fluid.episode-header
              %div.span8
                %p= raw @episode.social_description

              %div.span4.host
                %div.media
                  = image_tag @episode.host.image.thumb, class: "media-object pull-left", width: 54, height: 54
                  %div.media-body
                    %h4.media-heading Host: #{@episode.host.name}
                    %ul.social-icons.unstyled
                      %li.facebook= facebook_follow @episode.host.facebook
                      %li.twitter= twitter_follow account: @episode.host.twitter

            %div{style: "margin-bottom: 20px;"}
              %a.btn.btn-facebook.btn-large{href: "http://facebook.com/sharer.php?u=#{@canonical_fb_url}", target: "_blank", data: {url: @canonical_fb_url}}
                %i.icon-facebook
                Share on Facebook
              %a.btn.btn-twitter.btn-large{href: "http://twitter.com/intent/tweet?" + twitter_share_attrs(text: @episode.default_twitter_text, url: @episode.canonical_short_link || @episode_url).to_param, target: "_blank"}
                %i.icon-twitter
                Tweet
              %a.btn.btn-primary.btn-large{href: itunes_link, title: "iTunes", data: { track: true }}
                %i.icon-music
                Subscribe on iTunes

            = play_controls style: "full", episode: @episode, episode_url: @canonical_fb_url, player: @player

            %div.row-fluid{style: "margin-bottom: 20px"}
              %span.span4.offset2
                %a.btn.btn-facebook.btn-block{href: "http://facebook.com/sharer.php?u=#{@canonical_fb_url}", target: "_blank", data: {url: @canonical_fb_url}}
                  Share on Facebook
              %span.span4
                %a.btn.btn-twitter.btn-block{href: "http://twitter.com/intent/tweet?" + twitter_share_attrs(text: @episode.default_twitter_text, url: @episode.canonical_short_link || @episode_url).to_param, target: "_blank"}
                  Share on Twitter



            %div.episode-description
              = raw @episode.description

            - if @episode.guests.any?
              %h3 Featuring
              %div.row-fluid
                - @episode.guests.in_groups_of 3 do |group|
                  %div.row-fluid
                    - group.compact.each do |g|
                      %div.span4= render g

            %div.show-notes
              = raw @episode.show_notes

      %div#push

    %footer#footer
      %div.container
        %div.row
          %div.offset1.span10
            %h1 I want more stuff like this!

  = chartbeat_tail_tracker
