= open_graph_and_meta_tags type: "article",
                           title: if_blank(@episode, :headline, :title),
                           page_title: @episode.title,
                           description: if_blank(@episode, :social_description, :description),
                           image: canonical_fb_image(@episode),
                           url: canonical_fb_url(@episode)

- content_for :head do
  %meta{name: "episode-id", content: @episode.slug}
  %meta{name: "layout", content: "alt"}
  %meta{name: "modal-enabled", content: @modal_enabled}

= render partial: "episodes/modal" if @modal_enabled

%h4.muted
  Episode #{@episode.title.match(/(#\d+)/)[0]}

%h1= @episode.headline

%div.row-fluid.episode-header
  %div.span8
    %div= raw @episode.social_description

  %div.span4.host
    %div.media
      %a.pull-left.media-object{href: person_path(@episode.host)}
        = image_tag @episode.host.image.thumb, width: 54, height: 54
      %div.media-body
        %a{href: person_path(@episode.host), style: "color: black"}
          %h4.media-heading Host: #{@episode.host.name}
        %ul.social-icons.unstyled.hidden-phone
          %li.facebook= facebook_follow @episode.host.facebook
          %li.twitter.hidden-tablet= twitter_follow account: @episode.host.twitter

%div{style: "margin-bottom: 20px;"}
  %a.btn.btn-facebook.btn-large{href: "http://facebook.com/sharer.php?u=#{canonical_fb_url(@episode)}", target: "_blank", data: {url: canonical_fb_url(@episode)}}
    %i.icon-facebook
    %span.hidden-phone Share on
    Facebook
  %a.btn.btn-twitter.btn-large.hidden-phone{href: "http://twitter.com/intent/tweet?" + twitter_share_attrs(text: @episode.default_twitter_text, url: @episode.canonical_short_link || @episode_url).to_param, target: "_blank"}
    %i.icon-twitter
    Tweet
  %a.btn.btn-primary.btn-large{href: itunes_link, title: "iTunes", data: { track: true }}
    %i.icon-music
    Subscribe
    %span.hidden-phone on iTunes

= play_controls style: "full", episode: @episode, episode_url: canonical_fb_url(@episode), player: @player, embed: true

%div.row-fluid{style: "margin-bottom: 20px"}
  %span.span4.offset2.vertical-gap-phone
    %a.btn.btn-facebook.btn-block{href: "http://facebook.com/sharer.php?u=#{canonical_fb_url(@episode)}", target: "_blank", data: {url: canonical_fb_url(@episode)}}
      Share on Facebook
  %span.span4
    %a.btn.btn-twitter.btn-block{href: "http://twitter.com/intent/tweet?" + twitter_share_attrs(text: @episode.default_twitter_text, url: @episode.canonical_short_link || @episode_url).to_param, target: "_blank"}
      Share on Twitter

%div.episode-description
  = raw @episode.description
  %p.muted.clearfix
    Originally posted on
    = @episode.created_at.to_date.to_s(:long)

%div.row-fluid
  %div.span8
    %h3 Featuring
    - @episode.guests.in_groups_of 2 do |group|
      %div.row-fluid
        - group.compact.each do |g|
          %div.span6= render g
  %div.span4
    %h3 Powered by
    - org = Organization.where(name: "MoveOn.org").first
    = render org if org.present?

- unless @episode.show_notes.blank?
  %h3 Show Notes
  %div.show-notes
    = raw @episode.show_notes

- unless @episode.related.empty?
  %h3 Related Episodes: #{comma_separated_list_of @episode.topics}
  = render partial: "episodes/mini_collection", locals: { episodes: @episode.related }

%div.row-fluid
  %div.span6
    - if @episode.prev.present?
      %a.next-prev{href: episode_path(@episode.prev, params.slice(:l)), title: "Previous Episode", data: { track: true }}
        %h3
          %i.icon-large.icon-double-angle-left
          Previous Episode
      = render partial: "episodes/mini_episode", locals: { episode: @episode.prev }

  %div.span6{style: "text-align: right"}
    - if @episode.next.present?
      %a.next-prev{href: episode_path(@episode.next, params.slice(:l)), title: "Next Episode", data: { track: true }}
        %h3{style: "text-align: right"}
          Next episode
          %i.icon-large.icon-double-angle-right
      = render partial: "episodes/mini_episode", locals: { episode: @episode.next }
