= open_graph_and_meta_tags type: "article",
                           title: @episode.headline || @episode.title,
                           page_title: @episode.title,
                           description: @episode.social_description || @episode.description,
                           image: @episode.image.url,
                           url: episode_url(@episode, ref: "fb", protocol: "http")

%article.episode{id: @episode.slug, class: @episode.state, data: { uri: episode_path(@episode, format: :json), poll: 5.seconds, state: @episode.state }}
  %div.row-fluid.page-header
    %div.span2.logo
      %a{href: root_path}
        = image_tag "logo.png"

    %div.span10.offset2.details
      = breadcrumbs :root, Episode, @episode
      %h1= @episode.headline.present? ? @episode.headline : @episode.title

      %span.muted.attribution
        = @episode.headline.present? ? @episode.title : t(:tag)
        |
        %time(pubdate="pubdate")= @episode.published_at.strftime("%m/%d/%Y")

  %div.row-fluid.play-and-share
    %div.span8
      = play_controls style: "full", episode: @episode
    %div.span4
      %div.subscribe-join-social.subscribe-vertical.apply-affix
        = subscribe_join_social orientation: :vertical, share: @episode

  %div.row-fluid.episode-and-image
    %div.span8
      %section.body
        = raw @episode.description

      - if @episode.topics.any?
        %section.topics
          %strong Topics:
          %p= comma_separated_list_of @episode.topics

  - unless @episode.filepicker_images.blank?
    %div.row-fluid.image-gallery
      - @episode.filepicker_images.split(',').each do |i|
        = link_to i do
          = filepicker_image_tag i, w: 125, h: 125, fit: :crop

  - unless @episode.show_notes.blank?
    %div.row-fluid
      %div.span8
        %h3 Show Notes
        %div.show-notes= raw @episode.show_notes

  - if @episode.guests.any?
    %div.row-fluid
      %div.span8
        %h3 Featuring
    %div.row-fluid.guests-and-orgs
    - @episode.guests.each do |guest|
      %div.row-fluid
        %div.span4= render guest
        %div.span4= render guest.organization if guest.organization.present?


  = divider 8

  %div.row-fluid.other-episodes
    %div.span4
      - if @episode.prev.present?
        %a.prev{href: episode_path(@episode.prev)}
          %i.icon-chevron-left
          = @episode.prev.title

    %div.span4
      - if @episode.next.present?
        %a.next{href: episode_path(@episode.next)}
          = @episode.next.title
          %i.icon-chevron-right

  - if comments_enabled?
    %div.row-fluid.comments
      %div.span8
        %section.comments
          = livefyre_comments
