= open_graph_tags title: "The Flaming Sword of Justice - #{@episode.title}",
                  type: "article",
                  description: @episode.description,
                  image: @episode.image.url(:thumb),
                  audio: @episode.download_url

%div.row
  %div.span8
    %article.episode{id: @episode.slug}
      %header
        %a{href: episode_path(@episode)}
          %h1= @episode.title
        %p.muted
          = t(:tag)
          |
          %time(pubdate="pubdate")= @episode.published_at.strftime("%m/%d/%Y")

      %section.body
        = raw @episode.description

      = render partial: 'episodes/play_controls', locals: { url: @episode.download_url }

    - if @episode.guests.any?
      %h3 Featuring
      %div.guests
        = render @episode.guests

    %section.comments
      = livefyre_comments

  %div.span4
    = image_tag @episode.image.url
    %div.share-this-episode
      %h3 Share this episode
      %label Copy link:
      %div.copy-episode-url.input-append
        %input.episode-url{type: "text", value: episode_url(@episode.slug), readonly: true}
        %button.btn{type: "button", class: "share-link"}
          %i.icon-copy
      %div.share-buttons
        = twitter_follow
        = facebook_follow
