= open_graph_tags title: "The Flaming Sword of Justice - #{@episode.title}",
                  type: "article",
                  description: @episode.description,
                  image: @episode.image.url(:thumb),
                  audio: @episode.download_url

%div.row
  %div.span8
    %article.episode{id: @episode.slug}
      %header
        %a{href: episode_path(@episode)}
          %h1= @episode.title

        %div.muted.attribution
          = t(:tag)
          |
          %time(pubdate="pubdate")= @episode.published_at.strftime("%m/%d/%Y")

        - if @episode.topics.any?
          %div.topics
            Topics:
            = comma_separated_list_of @episode.topics

        %ul.social-icons
          %li.facebook-like
            = facebook_like
          %li.twitter
            = twitter_share
        %div.clearfix

      %section.body
        = raw @episode.description

      = render partial: 'episodes/play_controls', locals: { url: @episode.download_url }

    - if @episode.guests.any?
      %h3 Featuring
      %div.guests
        = render @episode.guests

    %section.comments
      = livefyre_comments

  %div.span4
    = image_tag @episode.image.url unless @episode.image.blank?
    = share_this @episode
