= open_graph_tags type: "article",
                  title: @episode.headline || @episode.title,
                  description: @episode.social_description || @episode.description,
                  image: @episode.image.url

%div.row
  %div.span8
    %article.episode{id: @episode.slug}
      %header
        %a{href: episode_path(@episode)}
          %h1= @episode.title

        %div.muted.attribution
          = t(:tag)
          |
          %time(pubdate="pubdate")= @episode.published_at.strftime("%m/%d/%Y")

        - if @episode.topics.any?
          %div.topics
            Topics:
            = comma_separated_list_of @episode.topics

        = social_icons_for @episode, type: "share"
        %div.clearfix

      %section.body
        = raw @episode.description

      = render partial: 'episodes/play_controls', locals: { episode: @episode }

    - if @episode.guests.any?
      %h3 Featuring
      %div.guests
        = render @episode.guests

    %section.comments
      = livefyre_comments

  %div.span4
    = image_tag @episode.image.url unless @episode.image.blank?
    = share_this @episode
