= open_graph_and_meta_tags type: "article",
                           title: @episode.headline || @episode.title,
                           page_title: @episode.title,
                           description: @episode.social_description || @episode.description,
                           image: @episode.image.url

%div.row
  %header.span12
    %div.row
      %span.span2
        = image_tag 'logo.png'
      %span.span10
        = breadcrumbs :root, Episode, @episode
        %h1= @episode.title

        %p.muted.attribution
          = @episode.headline.present? ? @episode.headline : t(:tag)
          |
          %time(pubdate="pubdate")= @episode.published_at.strftime("%m/%d/%Y")

= divider

%div.row.episode-and-image
  %div.span8
    %article.episode{id: @episode.slug}
      %section.body
        = raw @episode.description

      - if @episode.topics.any?
        %section.topics
          %strong Topics:
          %p= comma_separated_list_of @episode.topics

  - unless @episode.image.blank?
    %div.span4
      %figure.thumbnail
        %img{src: image_path(@episode.image.url)}
        - if @episode.image_caption.present?
          %figcaption= @episode.image_caption

%div.row.play-and-share
  %div.span8
    = render partial: 'episodes/play_controls', locals: { episode: @episode }
  %div.span4
    = share_this @episode

- unless @episode.show_notes.blank?
  %div.row.show-notes
    %div.span8
      %h3 Show Notes
      = raw @episode.show_notes

- if @episode.guests.any?
  %div.row.guests-and-orgs
    %div.span8
      %h3 Guests
      - @episode.guests.each do |guest|
        %div
          = render guest
          = render guest.organization if guest.organization.present?


= divider

%div.row.other-episodes
  %div.span12.border
  %div.span6
    - if @episode.prev.present?
      %a.prev{href: episode_path(@episode.prev)}
        %i.icon-chevron-left
        = @episode.prev.title

  %div.span6
    - if @episode.next.present?
      %a.next{href: episode_path(@episode.next)}
        = @episode.next.title
        %i.icon-chevron-right

%div.row.comments
  %div.span12
    %section.comments
      = livefyre_comments
