%section.current-episode
  %section.container
    %div.row
      %div.span4
        %a{href: root_path}
          = image_tag "logo.png", width: "100%", class: "big-brand"
        %a{href: "http://moveon.org", style: "text-align: center; display: block"}
          %span(style="font-size: 10px;")= t(:powered_by)
          = image_tag "moveon.png", width: "120"

      %div.span8.episode-blurb
        = render @latest unless @latest.nil?

%section.share-everything
  %section.container
    %div.row
      %div.subscribe.span4(style="text-align: center")
        %section
          %a.itunes{href: itunes_link}
            %i.icon-music
            %span Subscribe on iTunes
      %div.sign-up.span4(style="text-align: center")
        %section
          %form(action="/signup" method="get" style="margin-top: 20px;")
            %input(placeholder="Email" type="Email")
            %br
            %input(type="button" class="btn" value="Sign Up")
      %div.share.span4(style="text-align: center")
        %section
          %h4.muted= t(:share)

%section.past-episodes
  %section.container
    %div.row
      %div.span9
        %h2 More Justice
        = render @content
      %div.span3
        %h2 More Guests
        = render @guests
        %a{href: guests_path}
          Meet more of our guests
          %i.icon.icon-angle-right

