= open_graph_tags title: "The Flaming Sword of Justice", type: "website", description: "Join host Ben Wikler and the Legion of Valor in the fight for the future of the universe--on We Act Radio 1480AM in DC, streaming live online, and via podcast."

%section.current-episode
  %section.container
    %div.row
      %div.span4.splash-logo
        %a{href: root_path}
          = image_tag "logo.png", width: "100%", class: "big-brand"
        = render 'shared/powered_by'

      %div.span8.episode-blurb
        - unless @latest.nil?
          = render partial: 'episodes/episode', object: @latest, locals: { play: true }

    %div.row.share-everything
      %div.subscribe.span4
        %section
          %a.itunes{href: itunes_link}
            %i.icon-music
            %span
              Podcast!
              %em Subscribe &amp; enjoy
      %div.sign-up.span4
        %section
          %form.subscribe{action: subscribe_path, method: :post, data: { remote: true }}
            %input(placeholder="Email" type="email" name="subscriber[email]" required)
            %br
            %a.submit{href: "#"}
              %i.icon-envelope
              Updates you'll love
      %div.share.span4
        %section
          %div.facebook
            %i.icon-facebook
            %div.follow
              = facebook_like

          %div.twitter
            %i.icon-twitter
            %div.follow
              = twitter_follow

%section.past-episodes
  %section.container
    %div.row
      %div.span8
        %h2 More Justice
        = render @content
      %div.span4
        %h2 More Guests
        = render @guests
