%section.current-episode
  %section.container
    %div.row
      %div.span4
        = link_to root_path do
          = image_tag "logo.png", width: "100%", class: "big-brand"
        = link_to "http://moveon.org", style: "text-align: center; display: block" do
          %span(style="font-size: 10px;") powered by
          = image_tag "moveon.png", width: "120"

      %div.span8.episode-blurb
        = render @latest unless @latest.nil?

%section.share-everything
  %section.container
    %div.row
      %div.span4(style="text-align: center")
        %h4.muted Subscribe
      %div.span4(style="text-align: center")
        %h4.muted Sign Up
        %form(action="/signup" method="get" style="margin-top: 20px;")
          %input(placeholder="Email" type="Email")
          %br
          %input(type="button" class="btn" value="Sign Up")
      %div.span4(style="text-align: center")
        %h4.muted Share

%section.past-episodes
  %section.container
    %div.row
      %div.span9
        %h2 More Justice
        = render @content
      %div.span3
        %h2 More Guests

