= open_graph_and_meta_tags

%section.current-episode.full-width{style: "background-image: url(#{@latest.image.bw})"}
  %section.overlay
    %section.container
      %div.row-fluid
        %div.span4.splash-logo
          %a.visible-desktop{href: root_path}
            = image_tag "logo.png", width: "100%", class: "big-brand"
          = render 'shared/powered_by'

          %h3{style: "text-align: center"}= raw t(:description)

        %div.span8.episode-blurb
          - unless @latest.nil?
            = render partial: 'episodes/episode', object: @latest, locals: { play: true, featured: true }

      %div.row-fluid.subscribe-join-social
        = subscribe_join_social orientation: :horizontal

%section.past-episodes
  %section.container
    %div.row-fluid
      %div.span8
        %h2 More Justice
        = render @content
      %div.span4
        %h2 More Guests
        = render @guests
        %a{style: "", href: "http://internetdefenseleague.org"}
          %img{style: "margin-left: 15px", src: "http://internetdefenseleague.org/images/badges/final/shield_badge.png", alt: "Member of The Internet Defense League"}

