%section.current-show
  %section.container
    %div.row
      %div.span4
        = link_to root_path do
          = image_tag "logo.png", width: "100%", class: "big-brand"
        = link_to "http://moveon.org", style: "text-align: center; display: block" do
          %span(style="font-size: 10px;") powered by
          = image_tag "moveon.png", width: "120"

      %div.span8.show-blurb
        - show = @shows.first
        / %h4.muted MOST RECENT
        %h4.muted= show.recorded_at.strftime("%m/%d/%Y")
        %div
          %h3= show.title
          %p
            = raw show.blurb
            = link_to show_path(show.slug) do
              More
              %i.icon-angle-right
        %div.play-now.row
          %span.span4
            %a(href="#")
              %h1 PLAY NOW
              %i.icon-play

%section.share-everything
  %section.container
    %div.row
      %div.span4(style="text-align: center")
        %h4.muted Subscribe
      %div.span4(style="text-align: center")
        %h4.muted Sign Up
        %form(action="/signup" method="get" style="margin-top: 20px;")
          %input(placeholder="Email" type="Email")
          %br
          %input(type="button" class="btn" value="Sign Up")
      %div.span4(style="text-align: center")
        %h4.muted Share

%section.past-shows
  %section.container
    %div.row
      %div.span12
        %h1 PAST SHOWS
