= open_graph_and_meta_tags type: "article",
                           title: if_blank(@post, :headline, :title),
                           page_title: @post.title,
                           description: if_blank(@post, :social_description, :content),
                           image: filepicker_image_url(@post.facebook_image_url, w: 403, h: 403),
                           url: canonical_fb_url(@post)

%h4.muted= comma_separated_list_of @post.topics

%h1= @post.title

%div{style: "margin-bottom: 20px;"}
  %a.btn.btn-facebook.btn-large{href: "http://facebook.com/sharer.php?u=#{canonical_fb_url(@post)}", target: "_blank", data: {url: canonical_fb_url(@post)}}
    %i.icon-facebook
    %span.hidden-phone Share on
    Facebook
  %a.btn.btn-twitter.btn-large.hidden-phone{href: "http://twitter.com/intent/tweet?" + twitter_share_attrs(url: @post.canonical_short_link).to_param, target: "_blank"}
    %i.icon-twitter
    Tweet
  %a.btn.btn-primary.btn-large{href: itunes_link, title: "iTunes", data: { track: true }}
    %i.icon-music
    Subscribe
    %span.hidden-phone on iTunes

- if @post.embedded_content.present?
  %div.embed-container
    %iframe{allowfullscreen: true, frameborder: 0, src: @post.embedded_content.gsub(/http(s?):/, '')}

  %div.row-fluid{style: "margin-bottom: 20px"}
    %span.span4.offset2.vertical-gap-phone
      %a.btn.btn-facebook.btn-block{href: "http://facebook.com/sharer.php?u=#{canonical_fb_url(@post)}", target: "_blank", data: {url: canonical_fb_url(@post)}}
        Share on Facebook
    %span.span4
      %a.btn.btn-twitter.btn-block{href: "http://twitter.com/intent/tweet?" + twitter_share_attrs(url: @post.canonical_short_link).to_param, target: "_blank"}
        Share on Twitter

%div.post-content{style: "margin-bottom: 20px"}
  = raw @post.content
  %p.muted.clearfix
    Originally posted on
    = @post.created_at.to_date.to_s(:long)

