= open_graph_and_meta_tags title: @post.title,
                           type: "article",
                           description: @post.content

%div.row-fluid
  %header.span12
    = breadcrumbs :root, @post
    %h1= @post.title
    %p.muted.attribution
      = t(:tag)
      |
      %time(pubdate="pubdate")= @post.created_at.strftime("%m/%d/%Y")
    = social_icons_for @post, type: "share"

= divider

%div.row-fluid
  %div.span8
    %article.episode{id: @post.slug}
      %section.body
        = raw @post.content
      - if @post.topics.any?
        %div.topics
          Topics:
          = comma_separated_list_of @post.topics

= divider

%div.row-fluid
  %div.span8
    %section.comments
      = livefyre_comments
