= open_graph_and_meta_tags title: @post.title,
                           type: "article",
                           description: @post.content

%div.row
  %div.span8
    %article.episode{id: @post.slug}
      %header
        %a{href: post_path(@post)}
          %h1= @post.title
        %div.muted.attribution
          = t(:tag)
          |
          %time(pubdate="pubdate")= @post.created_at.strftime("%m/%d/%Y")
        - if @post.topics.any?
          %div.topics
            Topics:
            = comma_separated_list_of @post.topics

        = social_icons_for @post, type: "share"
        %div.clearfix

      %section.body
        = raw @post.content

    %section.comments
      = livefyre_comments

  %div.span4
    = share_this @post
