= open_graph_tags title: "The Flaming Sword of Justice - #{@post.title}", type: "article", description: @post.content

%div.row
  %div.span8
    %article.episode{id: @post.slug}
      %header
        %a{href: episode_path(@post)}
          %h1= @post.title
        %p.muted
          = t(:tag)
          |
          %time(pubdate="pubdate")= @post.created_at.strftime("%m/%d/%Y")

      %section.body
        = raw @post.content

    %section.comments
      = livefyre_comments

  %div.span4
    %div.share-this-episode
      %h3 Share this post
      %label Copy link:
      %div.copy-episode-url.input-append
        %input.episode-url{type: "text", value: episode_url(@post.slug), readonly: true}
        %button.btn{type: "button", class: "share-link"}
          %i.icon-copy
      %div.share-buttons
        = twitter_follow
        = facebook_follow
