= open_graph_and_meta_tags title: @post.title,
                           type: "article",
                           description: @post.content


= page_header @post.title,
  crumbs: [:root, @post],
  time: @post.created_at

%div.row-fluid
  %div.span8
    = social_icons_for @post, type: "share"
    %article.episode{id: @post.slug, style: "clear: both; padding-top: 10px;"}
      %section.body
        - if @post.respond_to?(:embedded_content) && @post.embedded_content.present?
          %div.embed-container
            %iframe{allowfullscreen: true, frameborder: 0, src: @post.embedded_content.gsub(/http(s?):/, '')}
        %div.post-content
          = raw @post.content
      - if @post.topics.any?
        %div.topics
          Topics:
          = comma_separated_list_of @post.topics

= divider

%div.row-fluid
  %div.span8
    %section.comments
      = livefyre_comments
