%article.media-badge.organization
  %a.avatar{href: organization_path(organization)}
    - if organization.image.present?
      = image_tag organization.image.logo || organization.image.thumb
    - else
      %i.icon-group
  %section.body
    %a{href: organization_path(organization)}
      %h4= organization.name
    %small
      - if organization.short_description.present?
        = organization.short_description
      - else
        = raw truncate_html(organization.description)
    - if organization.episodes_count > 0
      %small{style: "display: block"}
        %em
          = link_to pluralize(organization.episodes_count, "episode"), organization_path(organization, anchor: "appearances")

  %section.social
    = social_icons_for organization, type: "like"
