%article.media-badge.organization
  %a.avatar{href: organization_path(organization)}
    - if organization.image.present?
      = image_tag organization.image.thumb
    - else
      %i.icon-leaf
  %section.body
    %a{href: organization_path(organization)}
      %h4= organization.name
    - if organization.website.present?
      %div
        %small
          %a{href: organization.website}= organization.website
    %small
      = raw truncate_html(organization.description)
  %section.social
    = social_icons_for organization
