= open_graph_and_meta_tags title: @organization.name, description: @organization.description, type: "company"

%div.row-fluid.breadcrumbs
  %div.span12
    = breadcrumbs :root, Organization, @organization

%div.row-fluid.page-header
  %div.span2.logo
    %a{href: root_path}
      = image_tag "logo.png"

  %div.span10.offset2.details
    %h1= @organization.name
    - unless @organization.website.blank?
      %a{href: @organization.website}
        %p.muted
          = @organization.website

    %section.social.clearfix
      = social_icons_for @organization

%div.row-fluid
  %div.span8
    %article.organization
      = raw @organization.description

  - unless @organization.image.blank?
    %div.span4.entity-image
      %figure.thumbnail
        = image_tag @organization.image.url


- if @organization.people.any?
  %div.row-fluid
    %div.span8
      %h3 People
  %div.row-fluid.people
    - @organization.people.each do |person|
      %div.span4
        = render person

= divider 8

%div.row-fluid
  %spans.span8
    - if @organization.episodes.any?
      %section.appearances.clearfix
        %a{name: "appearances"}
        %h3 Episodes
        = render @organization.episodes

