= open_graph_and_meta_tags title: @organization.name, description: @organization.description, type: "company"

%div.row-fluid.page-header
  %div.span2.logo
    %a{href: root_path}
      = image_tag "logo.png"

  %div.span10.offset2.details
    = breadcrumbs :root, Organization, @organization
    %h1= @organization.name
    - unless @organization.website.blank?
      %a{href: @organization.website}
        %div.muted
          = @organization.website

%div.row-fluid
  %div.span8
    %section.social
      = social_icons_for @organization
    %article.organization.clearfix
      = raw @organization.description

  - unless @organization.image.blank?
    %div.span4.entity-image
      %figure.thumbnail
        = image_tag @organization.image.url


- if @organization.people.any?
  %div.row-fluid
    %div.span8
      %h3 People
  %div.row-fluid.people
    - @organization.people.each do |person|
      %div.span4
        = render person

= divider 8

- if @organization.appearances.any?
  %div.row-fluid
    %div.span8
      %h3#appearances Episodes
      = render @organization.episodes

