= open_graph_and_meta_tags title: @organization.name, description: @organization.description, type: "company"

%div.row
  %div.span8
    %article.person
      %h1= @organization.name
      - if @organization.website.present?
        %a{href: @organization.website}
          %p.muted
            = @organization.website

      = raw @organization.description

    - if @organization.people.any?
      %section.people.clearfix
        %h3 People
        = render @organization.people

    - if @organization.appearances.any?
      %section.appearances.clearfix
        %a{name: "appearances"}
        %h3 Episodes
        = render @organization.episodes

  %div.span4
    = image_tag @organization.image.url

