= open_graph_and_meta_tags title: @organization.name, description: @organization.description, type: "company"


= page_header @organization.name,
  crumbs: [:root, Organization, @organization],
  subtitle: @organization.website.blank? ? nil : link_to(@organization.website)

%div.row-fluid
  %div.span8
    %section.social
      = social_icons_for @organization, type: "like"
      %div.clearfix

    %article.organization{style: "margin-top: 10px;"}
      = raw @organization.description

  - unless @organization.image.blank?
    %div.span4.entity-image
      %figure.thumbnail
        = image_tag @organization.image.url


- if @organization.people.any?
  %div.row-fluid
    %div.span8
      %h3 People
  - @organization.people.in_groups_of 2 do |group|
    %div.row-fluid
      %div.span4= render group[0]
      %div.span4= render group[1] unless group[1].nil?

= divider 8

- if @organization.appearances.any?
  %div.row-fluid
    %div.span8
      %h3#appearances Episodes
      = render @organization.episodes

