= open_graph_and_meta_tags title: @organization.name, description: @organization.description, type: "company"

%div.row-fluid
  %header.span12
    = breadcrumbs :root, Organization, @organization
    %h1= @organization.name
    - unless @organization.website.blank?
      %a{href: @organization.website}
        %p.muted
          = @organization.website
    %section.social.clearfix
      = social_icons_for @organization

= divider

%div.row-fluid
  %div.span8
    %article.person
      = raw @organization.description

    - if @organization.people.any?
      %section.people.clearfix
        %h3 People
        %div.people
          = render @organization.people

  - unless @organization.image.blank?
    %div.span4
      %figure.thumbnail
        = image_tag @organization.image.url

= divider
%div.row-fluid
  %spans.span8
    - if @organization.episodes.any?
      %section.appearances.clearfix
        %a{name: "appearances"}
        %h3 Episodes
        = render @organization.episodes

