%article.show
  %header
    %h1
      = link_to show.title, show_path(show)
    %p.muted
      %time(pubdate="pubdate")= show.recorded_at.to_s(:date)

  %p= raw show.blurb

  %div.actions
    = link_to show_path(@latest.slug), class: "read" do
      read
      %i.icon-angle-right
    = link_to "#", class: "hear" do
      hear
      %i.icon-caret-right
