!!!

%html
  %head
    %link(href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,700' rel='stylesheet' type='text/css')
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "//connect.facebook.net/en_UK/all.js", async: true
    = javascript_include_tag "//platform.twitter.com/widgets.js", async: true
    = csrf_meta_tags
    = favicon_link_tag
    = syndication_link_tag
    = google_analytics_tracker
    = chartbeat_head_tracker
    = optimizely_tracker
    = mixpanel_tracker

    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    %meta(name="bitly-verification" content="100f7700b68b")
    %meta{name: "user-id",         content: session[:session_id]}
    %meta{name: "facebook-app-id", content: facebook_app_id}
    %meta{name: "ref-code",        content: params[:ref]}
    = yield :head


  - layout_class = controller.controller_name == "home" ? "layout_s" : "layout_a"

  %body{id: controller.controller_name, class: controller.action_name + " " + layout_class, data: { spy: "scroll", target: "#side-navbar" }}
    %div#fb-root
    = internet_defense_league
    = yield
    %footer#footer
      %div.container.full-width
        %div.row
          %div.offset1.span10
            %div.row-fluid
              %div.span2
                %a.brand{href: root_path}
                  = image_tag 'sword_light.png'
              %div.span3
                %a{href: root_path}
                  %h4= t 'tag_short'
                %p{style: "font-size: 12px; line-height: 16px"}
                  = raw t(:description)
                  = facebook_like
                  = twitter_follow
              - @nav_links.each do |link|
                %ul.span2.nav.nav-root
                  - if link.parent_link?
                    %li= link.title
                    %ul.nav
                      - link.child_links.order("position").each do |child|
                        %li
                          %a{href: child.url, data: { track: '"Type" : "Nav link"'}}= child.title
                  - else
                    %li
                      %a{href: link.url, data: { track: '"Type" : "Nav link"'}}= link.title

            %div.row-fluid.partners
              %div.span12
                %a.partner{href: "http://moveon.org", title: "Powered by MoveOn", data: { track: true }}
                  %div= t(:powered_by)
                  = image_tag "moveon.png", width: 180, style: "width: 180"
                %a.partner{href: "http://www.thoughtworks.com", title: "Supported by ThoughtWorks", data: { track: true }}
                  %div with support from
                  = image_tag "tw-logo-inverted.png", width: 120, style: "width: 120"
                = yield :partners
    = chartbeat_tail_tracker
