= render layout: "layouts/application" do
  %div#wrap
    %article.container.full-width{data: { spy: "scroll", target: ".top-navbar", offset: 20 }}
      %div.row
        %div.offset1.span10
          %div.row-fluid.header
            %a.brand{href: root_path, title: "Logo", data: { track: true }}
              = image_tag "flamingswordmed.png"

            %ul.unstyled.inline.hidden-phone{style: "text-align: center; text-transform: uppercase; font-size: 14px; margin-top: 10px"}
              %li= link_to "About", "/organizations/the-good-fight", style: "margin-left: 20px;"
              %li &middot;
              %li= link_to "Episodes", episodes_path

          = yield

    = render partial: "shared/subscribe_after"

    %div#push
