!!!

%html
  %head
    %link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300|Source+Sans+Pro:300' rel='stylesheet' type='text/css')
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = syndication_link_tag
    = google_analytics_tracker
    = internet_defense_league
    = csrf_meta_tags
    = favicon_link_tag "/favicon.ico?v=2"
    %meta(name="bitly-verification" content="100f7700b68b")
    = yield :head

  %body{id: controller.controller_name, data: { spy: "scroll", target: "#side-navbar" }}
    %div#wrap
      = facebook_script
      = render 'shared/header'

      - if current_page?(root_path)
        = yield
      - else
        %section.container.main-content
          = yield

      %div#push

    %footer#footer
      %div.container
        %div.row
          %div.span2
            %a{href: root_path}
              = image_tag 'sword_light.png'
          %div.span3
            %a{href: root_path}
              %h4 The Flaming Sword of Justice
            %p{style: "font-size: 12px; line-height: 16px"}= t(:description)
          %div.span7
            = render 'shared/nav_links'
        %div.row
          %div.span12
            %div.brand
              = render 'shared/powered_by'
