!!!

%html
  %head
    %title The Flaming Sword of Justice
    %link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300|Source+Sans+Pro:300' rel='stylesheet' type='text/css')
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{id: controller.controller_name}
    %div#wrap
      = facebook_script
      = render 'shared/header'

      - if current_page?(root_path)
        = yield
      - else
        %section.container
          = yield

      %div#push

    %footer#footer
      %div.container
        %div.row
          %div.span12
            %div.brand
              The Flaming Sword of Justice is powered by
              %a{href: "http://moveon.org"}
                = image_tag "moveon.png", width: "120"
