!!!

%html
  %head
    %title The Flaming Sword of Justice
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{id: controller.controller_name}
    %section.container
      = render 'shared/header'

    %section.container
      = yield

    %footer.container
      %div.row
        %div.span
          &copy; 2013 The Flaming Sword of Justice
